@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:400,700');
#allallthethings {
    background-color: transparent;
    width: 1000px;
    margin: auto;
}

:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --pinDelay: '21.7s';
    --lastDalay: '22.7s';
}

p {
    color: white;
    float: right;
    width: 500px;
    height: 65px;
    position: relative;
    top: 200px;
    right: 325px;
    z-index: 50;
    font-size: 50px;
    text-align: center;
    text-shadow: 1px 3px 3px red;
    font-family: Josefin Slab;
}

input {
    display: none;
}

#allthethings {
    background-color: transparent;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lastball {
    position: absolute;
    border: 1px solid white;
    background-color: white;
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50px;
    top: 48%;
    left: 40px;
}

#lastball.throw {
    animation: ball 7s forwards linear;
    -webkit-animation: ball 7s forwards linear;
}

@keyframes ball {
    33% {
        transform: rotate(1440deg);
        left: 20px;
    }
    66% {
        transform: rotate(2880deg);
        left: 570px;
    }
    100% {
        transform: rotate(4320deg);
        left: 1170px;
    }
}


/*Safari and Chrome:*/

@-webkit-keyframes ball {
    33% {
        -webkit-transform: rotate(1440deg);
        left: 20px;
    }
    66% {
        -webkit-transform: rotate(2880deg);
        left: 570px;
    }
    100% {
        -webkit-transform: rotate(4320deg);
        left: 1170px;
    }
}

#dot3 {
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50px;
    position: relative;
    left: 18px;
    z-index: 5;
}

#dot2 {
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50px;
    position: relative;
    top: 10px;
    left: 6px;
    z-index: 5;
}

#dot1 {
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50px;
    position: relative;
    left: 10px;
    top: 5px;
    z-index: 5;
}

#ball {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    position: relative;
    bottom: 22px;
    right: 1px;
    background-color: gray;
    border: 1px solid white;
}

#lines {
    width: 78%;
    height: 133px;
    background-color: transparent;
    border-top: 5px solid #5f4c4c;
    border-bottom: 5px solid #655151;
    border-right: unset;
    border-left: unset;
}

#allpins {
    background-color: transparent;
    border: none;
    position: relative;
    width: 11%;
    height: 273px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}

button {
    border-radius: 50%;
    position: absolute;
    top: 38%;
    left: 0%;
    z-index: 8;
    padding: 2% 5px;
}

#pin10 {
    border: none;
    background-color: transparent;
    height: 70px;
    width: 25px;
    position: relative;
    left: 45px;
    bottom: 570px;
    z-index: 1;
}

#pin10.fallen {
    -webkit-animation: pin10 5s forwards linear;
    animation: pin10 5s forwards linear;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

@keyframes pin10 {
    50% {
        transform: rotate(-1121deg);
        bottom: 570px;
        left: 500px;
    }
    70% {
        transform: rotate(-1641deg);
        bottom: 595px;
        left: 700px;
    }
    100% {
        transform: rotate(-1641deg);
        bottom: 595px;
        left: 700px;
    }
}

@-webkit-keyframes pin10 {
    50% {
        -webkit-transform: rotate(-1121deg);
        bottom: 570px;
        left: 500px;
    }
    70% {
        -webkit-transform: rotate(-1641deg);
        bottom: 595px;
        left: 700px;
    }
    100% {
        -webkit-transform: rotate(-1641deg);
        bottom: 595px;
        left: 700px;
    }
}

#pin9 {
    border: none;
    background-color: transparent;
    height: 70px;
    width: 25px;
    position: relative;
    left: 45px;
    bottom: 475px;
    z-index: 2;
}

#pin9.fallen {
    -webkit-animation: pin9 5s forwards linear;
    animation: pin9 5s forwards linear;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

@keyframes pin9 {
    50% {
        transform: rotate(-641deg);
        bottom: 500px;
        left: 240px;
    }
    70% {
        transform: rotate(-728deg);
        bottom: 652px;
        left: 420px;
    }
    100% {
        transform: rotate(-728deg);
        bottom: 652px;
        left: 420px;
    }
}

@-webkit-keyframes pin9 {
    50% {
        -webkit-transform: rotate(-641deg);
        bottom: 500px;
        left: 240px;
    }
    70% {
        -webkit-transform: rotate(-728deg);
        bottom: 652px;
        left: 420px;
    }
    100% {
        -webkit-transform: rotate(-728deg);
        bottom: 652px;
        left: 420px;
    }
}

#pin8 {
    border: none;
    background-color: transparent;
    height: 70px;
    width: 25px;
    position: relative;
    left: 45px;
    bottom: 380px;
    z-index: 4;
}

#pin8.fallen {
    -webkit-animation: pin8 5s forwards linear;
    animation: pin8 5s forwards linear;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

@keyframes pin8 {
    50% {
        transform: rotate(-641deg);
        bottom: 240px;
        left: 240px;
    }
    70% {
        transform: rotate(-728deg);
        bottom: 210px;
        left: 370px;
    }
    100% {
        transform: rotate(-728deg);
        bottom: 210px;
        left: 370px;
    }
}

@-webkit-keyframes pin8 {
    50% {
        -webkit-transform: rotate(-641deg);
        bottom: 240px;
        left: 240px;
    }
    70% {
        -webkit-transform: rotate(-728deg);
        bottom: 210px;
        left: 370px;
    }
    100% {
        -webkit-transform: rotate(-728deg);
        bottom: 210px;
        left: 370px;
    }
}

#pin7 {
    border: none;
    background-color: transparent;
    height: 70px;
    width: 25px;
    position: relative;
    left: 45px;
    bottom: 280px;
    z-index: 5;
}

#pin7.fallen {
    -webkit-animation: pin7 5s forwards linear;
    animation: pin7 5s forwards linear;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

@keyframes pin7 {
    50% {
        transform: rotate(-321deg);
        bottom: 240px;
        left: 150px;
    }
    70% {
        transform: rotate(-612deg);
        bottom: 210px;
        left: 220px;
    }
    100% {
        transform: rotate(-612deg);
        bottom: 210px;
        left: 220px;
    }
}

@-webkit-keyframes pin7 {
    50% {
        -webkit-transform: rotate(-321deg);
        bottom: 240px;
        left: 150px;
    }
    100% {
        -webkit-transform: rotate(-612deg);
        bottom: 210px;
        left: 220px;
    }
}

#pin6 {
    background-color: transparent;
    height: 70px;
    width: 25px;
    position: relative;
    left: 30px;
    bottom: 280px;
    border: none;
    z-index: 2;
}

#pin6.fallen {
    -webkit-animation: pin6 5s forwards linear;
    animation: pin6 5s forwards linear;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

@keyframes pin6 {
    50% {
        transform: rotate(-842deg);
        bottom: 290px;
        left: 150px;
    }
    70% {
        transform: rotate(-931deg);
        bottom: 325px;
        left: 220px;
    }
    100% {
        transform: rotate(-931deg);
        bottom: 325px;
        left: 220px;
    }
}

@-webkit-keyframes pin6 {
    50% {
        -webkit-transform: rotate(-842deg);
        bottom: 290px;
        left: 150px;
    }
    70% {
        -webkit-transform: rotate(-931deg);
        bottom: 325px;
        left: 220px;
    }
    100% {
        -webkit-transform: rotate(-931deg);
        bottom: 325px;
        left: 220px;
    }
}

#pin5 {
    background-color: transparent;
    height: 70px;
    width: 25px;
    height: 70px;
    width: 25px;
    position: relative;
    left: 30px;
    border: none;
    bottom: 188px;
    z-index: 3;
}

#pin5.fallen {
    -webkit-animation: pin5 5s forwards linear;
    animation: pin5 5s forwards linear;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

@keyframes pin5 {
    50% {
        transform: rotate(-641deg);
        bottom: 100px;
        left: 200px;
    }
    70% {
        transform: rotate(-1700deg);
        bottom: 200px;
        left: 340px;
    }
    100% {
        transform: rotate(-1700deg);
        bottom: 200px;
        left: 340px;
    }
}

@-webkit-keyframes pin5 {
    50% {
        -webkit-transform: rotate(-641deg);
        bottom: 100px;
        left: 200px;
    }
    70% {
        -webkit-transform: rotate(-1700deg);
        bottom: 200px;
        left: 340px;
    }
    100% {
        -webkit-transform: rotate(-1700deg);
        bottom: 200px;
        left: 340px;
    }
}

#pin4 {
    background-color: transparent;
    height: 70px;
    width: 25px;
    position: relative;
    left: 30px;
    bottom: 85px;
    z-index: 5;
    border: none;
}

#pin4.fallen {
    -webkit-animation: pin4 5s forwards linear;
    animation: pin4 5s forwards linear;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

@keyframes pin4 {
    50% {
        transform: rotate(-851deg);
        bottom: 100px;
        left: 200px;
    }
    70% {
        transform: rotate(-1762deg);
        bottom: 200px;
        left: 300px;
    }
    100% {
        transform: rotate(-1762deg);
        bottom: 200px;
        left: 300px;
    }
}

@-webkit-keyframes pin4 {
    50% {
        -webkit-transform: rotate(-851deg);
        bottom: 100px;
        left: 200px;
    }
    70% {
        -webkit-transform: rotate(-1762deg);
        bottom: 200px;
        left: 300px;
    }
    100% {
        -webkit-transform: rotate(-1762deg);
        bottom: 200px;
        left: 300px;
    }
}

#pin3 {
    background-color: transparent;
    height: 70px;
    width: 25px;
    position: relative;
    left: 15px;
    bottom: 60px;
    z-index: 3;
    border: none;
}

#pin3.fallen {
    -webkit-animation: pin3 5s forwards linear;
    animation: pin3 5s forwards linear;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

@keyframes pin3 {
    50% {
        transform: rotate(-951deg);
        top: 50px;
        left: 200px;
    }
    70% {
        transform: rotate(-1462deg);
        top: 80px;
        left: 420px;
    }
    100% {
        transform: rotate(-1462deg);
        top: 80px;
        left: 420px;
    }
}

@-webkit-keyframes pin3 {
    50% {
        -webkit-transform: rotate(-951deg);
        top: 50px;
        left: 200px;
    }
    70% {
        -webkit-transform: rotate(-1462deg);
        top: 80px;
        left: 420px;
    }
    100% {
        -webkit-transform: rotate(-1462deg);
        top: 80px;
        left: 420px;
    }
}

#pin2 {
    background-color: transparent;
    height: 70px;
    width: 25px;
    position: relative;
    top: 35px;
    left: 15px;
    z-index: 5;
    border: none;
}

#pin2.fallen {
    -webkit-animation: pin2 5s forwards linear;
    animation: pin2 5s forwards linear;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

@keyframes pin2 {
    50% {
        transform: rotate(-632deg);
        top: 50px;
        left: 90px;
    }
    70% {
        transform: rotate(-1252deg);
        top: 80px;
        left: 180px;
    }
    100% {
        transform: rotate(-1252deg);
        top: 80px;
        left: 180px;
    }
}

@-webkit-keyframes pin2 {
    50% {
        -webkit-transform: rotate(-632deg);
        top: 50px;
        left: 90px;
    }
    70% {
        -webkit-transform: rotate(-1252deg);
        top: 80px;
        left: 180px;
    }
    100% {
        -webkit-transform: rotate(-1252deg);
        top: 80px;
        left: 180px;
    }
}

#pin1 {
    background-color: transparent;
    height: 70px;
    width: 25px;
    position: relative;
    top: 90px;
    z-index: 4;
    border: none;
}

#pin1.fallen {
    -webkit-animation: pin1 5s forwards linear;
    animation: pin1 5s forwards linear;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

@keyframes pin1 {
    50% {
        transform: rotate(-720deg);
        top: 25px;
        left: 250px;
    }
    70% {
        transform: rotate(-785deg);
        top: 50px;
        left: 200px;
    }
    100% {
        transform: rotate(-785deg);
        top: 50px;
        left: 200px;
    }
}

@-webkit-keyframes pin1 {
    50% {
        -webkit-transform: rotate(-720deg);
        top: 25px;
        left: 100px;
    }
    70% {
        -webkit-transform: rotate(-785deg);
        top: 50px;
        left: 200px;
    }
    100% {
        -webkit-transform: rotate(-785deg);
        top: 50px;
        left: 200px;
    }
}

div {
    background-color: white;
    border: 1px solid black;
}

.bottom {
    height: 50px;
    width: 20px;
    border-radius: 10px/20px;
}

.top {
    width: 10px;
    height: 10px;
    position: relative;
    left: 5px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 3px solid red;
    border-radius: 50px;
}

body {
    background-color: black;
}