/* You can add global styles to this file, and also import other style files */

.center {
    text-align: center;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    place-items: center;
}

.justify-center {
    justify-content: center;
}

.mr-l {
    margin-right: 2%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

button {
    cursor: pointer;
}

.bottom {
    bottom: 2%;
}

.hidden {
    display: none;
}

.right {
    right: 2%
}

.left {
    left: 2%;
}