<aside>
    <div class="board mr-l" *ngIf="board">
        <div class="top cube justify-center relative " *ngIf="board.accumaltiveScore">
            <div class="flex">
                <div *ngIf="board.firstShot.isSet" class="small-cube"> {{board?.firstShot?.shot}}</div>
                <div *ngIf="board.secondShot.isSet" class="small-cube">{{board?.secondShot?.shot}}</div>
                <h5 class="absolute name" class="{{board?.name}}" *ngIf="board?.name">{{board?.name}}</h5>
                <div *ngIf="board.thirdOptionalShot.shot" class="small-cube">{{board?.thirdOptionalShot?.shot}}</div>
            </div>

            <div *ngIf="board?.accumaltiveScore" class="bottom right absolute"> {{board?.accumaltiveScore}}</div>

        </div>
    </div>


</aside>