.cube {
    width: 100px;
    height: 100px;
    padding: 3%;
    box-shadow: 0px 0px 0px 1px #021;
    box-sizing: border-box;
    overflow: hidden;
}

.flex {
    justify-content: flex-end;
}

.name {
    left: 0px;
    right: 0px;
    display: block;
    text-align: center;
    top: 15%;
    animation: flash 2s ease .1s;
    -webkit-animation: flash 2s ease .1s;
    animation-iteration-count: 4;
    -webkit-animation-iteration-count: 4;
}

.name.strike {
    animation: strike 2s ease .1s;
    -webkit-animation: strike 2s ease .1s;
    animation-iteration-count: 4;
    -webkit-animation-iteration-count: 4;
}

@keyframes flash {
    0% {
        transform: scale(1);
        opacity: 1;
        color: #021;
    }
    50% {
        transform: scale(1.9);
        opacity: .2;
        color: red;
    }
    100% {
        transform: scale(1);
        opacity: 1;
        color: #289;
    }
}

@-webkit-keyframes flash {
    0% {
        transform: scale(1);
        opacity: 1;
        color: #021;
    }
    50% {
        transform: scale(1.9);
        opacity: .2;
        color: red;
    }
    100% {
        transform: scale(1);
        opacity: 1;
        color: #289;
    }
}

@keyframes strike {
    0% {
        transform: scale(1);
        opacity: 1;
        color: #fff;
    }
    50% {
        transform: scale(1.9);
        opacity: .2;
        color: yellow;
    }
    100% {
        transform: scale(1);
        opacity: 1;
        color: #289;
    }
}

@-webkit-keyframes strike {
    0% {
        transform: scale(1);
        opacity: 1;
        color: #fff;
    }
    50% {
        transform: scale(1.9);
        opacity: .2;
        color: yellow;
    }
    100% {
        transform: scale(1);
        opacity: 1;
        color: #289;
    }
}

.small-cube {
    width: 25px;
    height: 25px;
    border: 1px solid #289;
    margin-left: 2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}