<div class="frame-board relative ">
    <h2 *ngIf="bowling?.currentUser?.name">hello {{bowling?.currentUser?.name}}</h2>
    <div class="flex ">
        <app-frame-board *ngFor="let item of bowling.rounds" [board]="item" class="border  "></app-frame-board>
    </div>
    <div class="data">
        <div *ngIf="bowling?.step" class="bottom right"><b>current step:</b>{{bowling.step}}</div>
        <div *ngIf="bowling?.sumResult" class="sum"><b>total:</b><span>{{bowling?.sumResult}}</span></div>

    </div>

</div>